body {
    margin: 0;
    background-color: rgb(7 7 14 / 95%);
    font-family: system-ui;
    margin-top: 70px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --borderBottom: 1px solid #45454562;
    --boldColor: orange;
    --textShadow: 0 3px 0 rgba(0,0,0,.25);
    --imageShadow: 2px 0px 15px 0px rgb(0 0 0);
    --mask: radial-gradient(143.11px at 50% 192.00px,#000 99%,#0000 101%) calc(50% - 128px) 0/256px 100%,
    radial-gradient(143.11px at 50% -128px,#0000 99%,#000 101%) 50% 64px/256px 100% repeat-x;
}

#nav-menu {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(32, 30, 30);
    display: flex;
    color: rgb(167, 167, 167);
    align-items: center;
    flex-direction: row;
    -webkit-box-shadow: 0px 1px 8px -3px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 8px -3px rgb(0,0,0);
    box-shadow: 0px 1px 8px -3px rgb(0,0,0);
    justify-content: space-between;
    top: 0px;
}

main {
    color: #d4d4d4;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-2 {
    font-size: 2rem;
}

.w-90 {
    width: 90%;
}

.l-5 {
    position: relative;
    left: 5%;
}

.font-size-1 {
    font-size: 1.5rem;
}

.assets-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.assets-container {
    transition: all 0.5s ease;
}

.assets-container span{
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 0.75rem;
    margin-top: 5px;
}

.assets-container img:hover {
    filter: drop-shadow(0 0 0.5rem rgb(109, 109, 109));
}


.assets-container:hover span{
   opacity: 1;
}

#stack-tolls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-items: center;
}

.assets-container {
    display: flex;
    max-width: 80px;
    max-height: 80px;
    flex-direction: column;
}

#experience-box {
    background-color: rgb(7 7 14 / 95%);
    text-align: center;
    justify-content: center;
}

#about-box img {
    height: 50%;
    width: 40%;
    border-radius: 20px;
    box-shadow: var(--imageShadow);
    object-fit: cover;
}


#nav-left {
    width: 10%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 10px;
    font-size: 1.1rem;
}

.flex {
    display: flex;
}

.w-50 {
    width: 50%;
}

.m-top-1 {
    margin-top: 10px;
}


.m-top-2 {
    margin-top: 20px;
}

.m-top-3 {
    margin-top: 30px;
}

.m-top-4 {
    margin-top: 40px;
}

.m-top-5 {
    margin-top: 50px;
}

.m-top-6 {
    margin-top: 60px;
}

.m-top-7 {
    margin-top: 70px;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.vh-100 {
    height: calc(100vh - 70px);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-center-w {
    align-items: center;
}

.center-horiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box{
    border-top: var(--borderBottom);
    box-sizing: border-box;
}

#about-information {
    font-size: 1.3rem;
}

#about-information b {
    font-size: 2.5rem;
    text-shadow: var(--textShadow);
}

#about-information p {
    max-width: 90%;
}

bold {
    color: var(--boldColor);
}


.padding-1 {
    padding: 10px;
}

#nav-middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: flex-end;
}

#nav-left b {
    transition: all 0.2s ease;
}

#nav-left b:hover {
    transform: translateZ(50deg);
    transform: rotate3d(1, 1, 1, 10deg);
}

#nav-middle div {
    margin-right: 30px;
    transition: all 0.2s ease;
}

#nav-middle div:hover {
    color: orange;
    transform: scale(1.1);
}
