body {
    margin: 0;
    background-color: rgb(7 7 14 / 95%);
    font-family: system-ui;
    margin-top: 70px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --borderBottom: 1px solid #45454562;
    --boldColor: orange;
    --textShadow: 0 3px 0 rgba(0,0,0,.25);
    --imageShadow: 2px 0px 15px 0px rgb(0 0 0);
    --mask: radial-gradient(143.11px at 50% 192.00px,#000 99%,#0000 101%) calc(50% - 128px) 0/256px 100%,
    radial-gradient(143.11px at 50% -128px,#0000 99%,#000 101%) 50% 64px/256px 100% repeat-x;
}

#nav-menu {
    z-index: 2;;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(32, 30, 30);
    display: flex;
    color: rgb(167, 167, 167);
    align-items: center;
    flex-direction: row;
    -webkit-box-shadow: 0px 1px 8px -3px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 8px -3px rgb(0,0,0);
    box-shadow: 0px 1px 8px -3px rgb(0,0,0);
    justify-content: space-between;
    top: 0px;
}

main {
    color: #d4d4d4;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-2 {
    font-size: 2rem;
}

.w-90 {
    width: 90%;
}

.l-5 {
    position: relative;
    left: 5%;
}

.font-size-1 {
    font-size: 1.5rem;
}

.assets-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.assets-container {
    transition: all 0.5s ease;
}

.assets-container span{
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 0.75rem;
    margin-top: 5px;
}

.assets-container img:hover {
    filter: drop-shadow(0 0 0.5rem rgb(109, 109, 109));
}


#stack:hover span {
    opacity: 1;
}

.show {
    animation: showText 1.5s ease;
}

.showAssets {
    animation: showAssetsItems 2s ease;
}

.assets-container:nth-child(1) {
    animation-duration: 1.2s;
}

.assets-container:nth-child(2) {
    animation-duration: 1.3s;
}

.assets-container:nth-child(3) {
    animation-duration: 1.4s;
}

.assets-container:nth-child(4) {
    animation-duration: 1.5s;
}

.assets-container:nth-child(5) {
    animation-duration: 1.6;
}

.assets-container:nth-child(6) {
    animation-duration: 1.7;
} 

.assets-container:nth-child(7) {
    animation-duration: 1.8s;
}

@keyframes showText {
    0% { 
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes showAssetsItems {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }  
    100% {
        opacity: 1;
        transform: translateY(0px);
    } 
}

#stack-tolls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-items: center;
}

.assets-container {
    display: flex;
    max-width: 80px;
    max-height: 80px;
    flex-direction: column;
}

#experience-box,#contact-box {
    background-color: rgb(7 7 14 / 95%);
    text-align: center;
    justify-content: center;
}

#about-box img {
    height: 50%;
    width: 40%;
    border-radius: 20px;
    box-shadow: var(--imageShadow);
    object-fit: cover;
}

#about-box {
    grid-gap: 50px;
}

#nav-left {
    width: 10%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 10px;
    font-size: 1.1rem;
}

.flex {
    display: flex;
}

.w-50 {
    width: 50%;
}

.m-top-1 {
    margin-top: 10px;
}


.m-top-2 {
    margin-top: 20px;
}

.m-top-3 {
    margin-top: 30px;
}

.m-top-4 {#
    margin-top: 40px;
}

.m-top-5 {
    margin-top: 50px;
}

.m-top-6 {
    margin-top: 60px;
}

.m-top-7 {
    margin-top: 70px;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.vh-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

#projects-container .project-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.project-box label{
    position: absolute;
    top: -20%;
    font-weight: 600;
    background: #000000bb;
    height: calc(90% - 36px);
    transition: all 0.5s ease;
    padding: 10px;
    opacity: 0;
    color: white;
}


.stack-list img, .stack-list a{
    width: 6%;
    object-fit: contain;
}

.stack-list a {
    text-decoration: none;
    position: absolute;
    left: 10px;
    color: orange;
    opacity: 0.75;
    bottom: 0.25px;
}

.stack-list a img {
    width: 100%;
    height: 100;
}


.stack-list {
    width: 100%;
    height: 10%;
    bottom: -50px;
    display: flex;
    position: absolute;
    transition: all 0.5s ease;
    background: #000000bb;
    padding: 8px 0 8px 0;
    justify-content: flex-end;
    grid-gap: 5px;
    opacity: 0;
}

.project-box:hover .stack-list,label {
    bottom: 0;
    opacity: 1;
}

.project-box:hover label {
    top: 0;
    opacity: 1;
}

.project-box {
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: var(--imageShadow);
}

#projects-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    margin-bottom: 10px;
    max-height: 70%;
    justify-content: center
}

.m-bottom-6 {
    margin-bottom:60px;
}

.h-100 {
    height: 100%;
}

.flex-center-w {
    align-items: center;
}

.center-horiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box{
    border-top: var(--borderBottom);
    box-sizing: border-box;
    min-height: 100%;
    overflow: hidden;
}

#about-information {
    font-size: 1.3rem;
}

#about-information b {
    font-size: 2.5rem;
    text-shadow: var(--textShadow);
}


bold {
    color: var(--boldColor);
}


.padding-1 {
    padding: 10px;
}

#nav-middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: flex-end;
}

#nav-left b {
    transition: all 0.2s ease;
}

#nav-left b:hover {
    transform: translateZ(50deg);
    transform: rotate3d(1, 1, 1, 10deg);
}

#nav-middle div {
    margin-right: 30px;
    transition: all 0.2s ease;
}

#nav-middle div:hover {
    color: orange;
    transform: scale(1.1);
}

#mobile-open {
    position: absolute;
    left: 20px;
    top: calc(40px - 20px);
    display: none;
    background-color: rgb(45 45 45);
    border: 1px solid dark;
    padding: 5px 5px 0 5px;
    border-radius: 8px;
    border: 1px solid #414141;
}

#mobile-open span {
    transition: all 0.5s ease;
}

#mobile-toggle {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 20px;
    z-index: 5;
    display: none;
}


@media screen and (max-width:600px){

    .project-box label {
        font-size: 2vw;
    }

    #mobile-toggle {
        display: block;
        opacity: 0;
    }

    #mobile-toggle:checked ~ #nav-menu {
        height: 300px;
    }

    #mobile-toggle:checked ~ #nav-menu #mobile-open span {
        transform: rotate(90deg);
    }

    #mobile-toggle:checked ~ #nav-menu #nav-middle {
        display: flex;
        opacity: 1;
        transform: translateX(0);
    }

    #nav-menu {
        height: 70px;
        overflow: hidden;
        transition: height 0.5s ease;
    }

    #mobile-open {
     display: block;
    }

    #nav-middle {
        display: none;
        opacity: 0;
        flex-direction: column;
    }

    .font-size-3 {
        font-size: 7vw;
    }

    .font-size-2 {
        font-size: 5vw;
    }

    .font-size-1 {
        font-size: 4vw;
    }

    #about-information {
        font-size: 4vw;
    }

    #nav-middle div{
        padding: 15px;
        border-bottom: 1px solid rgb(56, 56, 56);
        width: 100%;
        text-align: center;
    }

    #nav-left{
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        height: 70px;
        justify-content: flex-end;
        right:20px;
    }
}


@media screen and (max-width:1100px){
    #projects-container  {
        max-height: 70%;
    }

    #about-box {
        flex-direction: column;
        text-align: center;
    }

    #about-box img{
        width: 90%;
        height: 50%;
    }

    .w-50 {
        width: 90%;
        position: relative;
    }
    
}